body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
  color: #fff;
  background-color: #849d8f;
}

a{
  text-decoration: none;
  background-image: linear-gradient(to top, #98ada1 1px, transparent 1px);
  color: #fff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-menu__link{
  font-weight: 700;
  line-height: 1.125;
}

.catalog-menu{
  display: inline-block;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 0;
}

.catalog-menu__header{
  color: #323232;
  font-weight: 700;
  line-height: 1.143;
}

.catalog-menu__link[href]:hover,
.catalog-menu__link[href]:focus,
.catalog-menu__link[href]:active{
  background-color: #FBDED8;
}
.catalog-menu__link{
  font-size: 14px;
  font-weight: 400;
  color: #323232;
  background-color: #F8F7F4;
  line-height: 1.143;
  display: block;
  padding: 10px 20px;
  background-image: none;
}

.catalog-menu__item:first-child .catalog-menu__link{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.catalog-menu__item:last-child .catalog-menu__link{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


.catalog-menu__header{
  background-image: none;
}

.catalog-menu__link--important{
  font-weight: 700;
  background-image: linear-gradient(to top, transparent 6px, #d1d0ce 6px, #d1d0ce 7px, transparent 7px);
  background-repeat: no-repeat;
  background-size: 90% 100%;
  background-position: 50%;
  padding-bottom: 20px;
}

.catalog-menu__link--current{
  color: #fff;
  background-color: #d07058;
}

.reset-list li{
  list-style-type: none;
}

.user-navigation__link{
  font-size: 14px;
  line-height: 1.143;
}

.filled-cart{
  color: #323232;
}
.search-button{
  font-size: 0;
}

.short-info__working-hours{
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
}

.short-info__phone-number{
  font-size: 22px;
  font-weight: 700;
  line-height: 1.091;
}

.galery__title {
  font-size: 60.468px;
  font-weight: 700;
  line-height: 1;
}

.gallery__link{
  font-size: 32px;
  font-weight: 700;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}
.banner{
  font-weight: 700;
}
.banner__title{
  font-size: 23px;
  line-height: 1.171;
}

.banner__text{
  font-size: 12px;
  line-height: 1.222;
}

.banner__link{
  font-size: 18px;
  line-height: 1.333;
}
.icecream-item__price{
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}
.icecream-item__hit{
  font-size: 0;
  background: #fff url("../img/hit.svg") no-repeat center;
  width: 62px;
  height: 62px;
  border-radius: 31px;
  display: inline-block;
}
.icecream-item__link{
  display: block;
}
.button{
  background-image: linear-gradient( 90deg, #E74A35 0%, #F26843 100%);
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 0.004);
  font-size: 18px;
  color: #FEFEFE;
  font-weight: 700;
  line-height: 1.333;
  padding: 10px 18px;
  border-radius: 22px;
  border: none;
}
.block-about__title{
  font-size: 24px;
  color: #323232;
  line-height: 1.25;
}
.block-about__item{
  color: #323232;
}
.blog-news__header {
  color: #5A5A5A;
}
.blog-news__link{
  font-size: 24px;
  color: #353535;
  font-weight: 700;
  line-height: 1.25;
  background-image: linear-gradient(to top, transparent 3px, #353535 3px, #353535 5px, transparent 5px);
}
.subscribe__content {
  color: #5A5A5A;
}

.input, textarea {
  color: #323232;
  font-weight: 700;
  line-height: 1.5;
}

::-webkit-input-placeholder ,
::-moz-placeholder,
:-ms-input-placeholder ,
:-moz-placeholder {
  color: #999999;
  line-height: 1.5;
}
.other-links__link{
  font-size: 13px;
  line-height: 1.385;
}
.other-links__item--suppliers{
  font-weight: 700;
  position: relative;
}
.other-links__item--suppliers::before{
  content: "\2764";
  position: absolute;
  left: -20px;
  top: 1px;
}
.made-by-info__text{
  font-size: 12px;
  color: #FEFEFE;
  line-height: 1.5;
}

.catalog-title{
  font-size: 35px;
  font-weight: 700;
  line-height: 1.171;
}
.navigation-route__item{
  font-size: 14px;
  line-height: 1.143;
}
.cart-total-price{
  font-size: 13px;
  color: #333333;
  line-height: 1.231;
}
.cart-price-and-weight{
  font-size: 13px;
  color: #323232;
  line-height: 1.231;
}
.cart-price-per-kilogram{
  opacity: 0.5;
}
.cart-product-name{
  font-size: 13px;
  color: #323232;
  line-height: 1.231;
}
.cart-delete-button{
  position: relative;
  display: block;
  width: 11px;
  height: 11px;
  font-size: 0;
}
.cart-delete-button::before,
.cart-delete-button::after{
  content: "";
  width: 1px;
  height: 15px;
  background-color: #323232;
  display: block;
  position: absolute;
  left: 5px;
  top: -2px;
}
.cart-delete-button::before{
  transform: rotate(45deg);
}
.cart-delete-button::after{
  transform: rotate(-45deg);
}
.cart-footer__total-sum, .cart-total-sum{
  font-size: 15px;
  color: #323232;
  font-weight: 700;
  line-height: 1.2;
}
.htmlacademy-link{
  background-image: none;
}
.user-navigation__link,
.icecream-item__text,
.block-about__title{
  font-weight: 500;
}
